.main__section {
  min-height: 100vh;
}

.svg__background {
  background-color: var(--DesaturatedDarkCyan);
  height: 10rem;
}

.content__section {
  background-color: var(--LightGrayishCyan);
  height: 85%;
  position: relative;
  display: flex;
  justify-content: center;
}

.svg__background__desktop {
  width: 100%;
}

.svg__background__mobile {
  width: 100%;
  display: none;
}

@media (width < 500px) {
  .svg__background__desktop {
    display: none;
  }
  .svg__background__mobile {
    display: block;
  }
}
